.forecast-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin: 20px auto;
  font-size: 25px;
  font-weight: 600;
}
.toggle-container{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.daily {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.forecast-box{
  width: 400px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #333;
  margin: 10px; 
  padding: 20px;
  text-align: center;
}

.forecast-city{
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.forecast-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.forecast-city-info{
  display: flex;
  flex-direction: column;
}

.forecast-city{
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  margin: 5px 0;
  letter-spacing: 1px;
  text-align: left;
}

.time-info{
  display: flex;
}

.forecast-day,
.forecast-date{
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

.forecast-description{
  font-weight: 400;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
  margin: 5px 0;
  padding: 5px 0;
}

.forecast-bottom{
  display: flex;
  flex-direction: column;
}

.daily-details-grid-item{
  display: flex;
  flex-direction: column;
}

.parameter-label{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.parameter-value{
  text-align: center;
  font-size: 20px;
  font-family: 500;
}
